@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 62.5%;
}
body {
    background-color: #eaeaea;
    color: #0e1424;
    font-family: "Avenir Next", "Futura"," Hind", "Helvetica", "Arial", "游ゴシック", "A-OTF UD新ゴ Pr6N", "Noto Sans", "Noto Sans Japanese", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}
a {
    color: #0e1424;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style: none;
}
.sp_only {
    display: none;
}
.pc_only {
    display: block;
}

/* scroll */
.scroll_up {
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;
    transform: translate(0,30px);
    &.scrollin{
        opacity: 1 !important;
        transform: translate(0, 0) !important;
    }
}

/* HEADER */
header {
    width: 100%;
    background: #eaeaea;
    position: sticky;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 4%;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    z-index: 999;
}
.main-nav {
    display: flex;
    font-size: 1.6rem;
    margin-top: 34px;
    text-transform:capitalize;
    z-index: 999;
}
.main-nav li {
    margin-left: 36px;
}
ul li a {
    display: block;

}
.main-nav a:hover {
    color: #acaba9;
}
/* ハンバーガーメニュー */
.humberger {
    display: block;
    height: 60px;
    margin-left: auto;
    position: relative;
    z-index: 10;
    width: 60px;
    border: none;
    background-color: transparent;
}
.humberger.-active .humberger__line {
    background-color: transparent;
}
.humberger.-active .humberger__line::before {
    top: 0;
    transform: rotate(45deg);
}
.humberger.-active .humberger__line::after {
    top: 0;
    transform: rotate(-45deg);
}
.humberger.-active .humberger__text::before {
    content: 'close';
}
.humberger__line {
    display: block;
    height: 2px;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    background-color: #0e1424;
    transition: 0.4s;
}
.humberger__line:before,
.humberger__line:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #0e1424;
    transition: inherit;
}
.humberger__line:before {
    top: -6px;
}
.humberger__line:after {
    top: 6px;
}
.humberger__text {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.humberger__text::before {
    content: "menu";
    text-align: center;
    color: #0e1424;
    font-size: 1.2rem;
}
.header__nav-area {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 9;
    height: 100vh;
    width: 300px;
    visibility: hidden;
    padding-top: 60px;
    background-color: #374254;
    transition: 0.4s;
}
.header__nav-area.-active {
    left: 0;
    visibility: visible;
}
.global-navigation {
    padding-top: 40px;
    padding-right: 25px;
    padding-bottom: 120px;
    padding-left: 25px;
}
.global-navigation__list > li {
    padding-bottom: 20px;
    border-bottom: 2px solid #eaeaea;
}
.global-navigation__list > li + li {
    margin-top: 20px;
}
.global-navigation__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    transition: color 0.4s;
    font-size: 1.4rem;
}

/* ---- main ---- */
main {
    margin-bottom: 15vh;
}
#works {
    width: 100%;
    height: auto;
}
.works_ttl {
    margin: 100px 0 50px 0;
    text-align: center;
    width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    width: 100%;
    padding: 80px 20px;
    margin: 0 auto;
}
.hoge-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    >li {
        width: calc(96% / 3);
        margin-bottom: 30px;
        &:not(:nth-child(3n)) {
            margin-right: 2%;
        }
    }
    .hoge-item1,
    .hoge-item2,
    .hoge-item3,
    .hoge-item4 {
        cursor: pointer;
        .img-box1,
        .img-box2,
        .img-box3,
        .img-box4 {
            height: 150px;
            width: 100%;
            overflow: hidden;
            >img {
                transition: .3s;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .ttl {
            text-align: center;
            font-size: 1.6rem;
            font-weight: normal;
        }
        &:hover {
            .img-box1,
            .img-box2,
            .img-box3,
            .img-box4 {
                >img {
                    transform: scale(1.05);
                }
            }
        }
    }
}
.modal-block1,
.modal-block2,
.modal-block3,
.modal-block4 {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    .img-section1,
    .img-section2,
    .img-section3,
    .img-section4 {
        width: 60vw;
        height: 60vh;
        position: relative;
        margin: 0 auto;
        .modal-close{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -20px;
            right: -20px;
            width: 40px;
            height: 40px;
            color: #fff;
            background: #8a8fa3;
            border-radius: 50%;
            cursor: pointer;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    .txt-box {
        background: #ddd;
        padding: 0.5em;
    }
    .txt-box h3.ttl {
        margin-bottom: 1em;
        font-weight: 500;
    }
    .txt-box h4.txt {
        font-weight: normal;
        border-bottom: 3px dotted #adbbc6;
        line-height: 1.75em
    }
    .txt-box p.txt {
        margin-bottom: 0.7em;
    }
}


/* footer */
footer {
    background: #0e1424;
    color: #eaeaea;
    width: 100%;
    height: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.footer {
    margin: 0 auto;
    text-align: center;
}
.logo1 {
    padding: 15px;
    text-align: center;
}
.footer-nav {
    background: #0e1424;
}
.footer-nav li {
    background: #0e1424;
    display: inline-block;
    padding: 0 10px;
    margin: 0 15px 10px;
    text-align: center;
    text-transform:capitalize;
}
.footer-nav a {
    color: #eaeaea;
    font-size: 1.6rem;
    display: block;
}
.footer-nav a:hover {
    color: #acaba9;
}
.footer p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    background: #0e1424;
    color: #acaba9;
}


/* モバイル版 */
@media (max-width:600px) {
    .sp_only {
        display: block;
    }
    .pc_only {
        display: none;
    }
    .container {
        padding: inherit;
    }
    .hoge-list {
        flex-direction: column;
        align-items: center;
    }
    .hoge-list li {
        width: 90%;
    }
    .modal-block1,
    .modal-block2,
    .modal-block3,
    .modal-block4 {
        .img-section1,
        .img-section2,
        .img-section3,
        .img-section4 {
            width: 80%;
            height: 80%;
        }
        .txt-box p.txt {
            margin-bottom: 2.2em;
        }
    }
    .img-section3 h3 {
        font-size: 1.7rem;
    }
}

